<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knopflerfish.eclipse.core.frameworkDefinition">
    <frameworkDefinition
          class="org.knopflerfish.eclipse.framework.oscar.FrameworkDefinition"
          id="org.knopflerfish.eclipse.framework.oscar10.frameworkDefinition"
          image="icons/obj16/oscar_obj.gif"
          name="Oscar 1.0"/>
   </extension>

</plugin>
