<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knopflerfish.eclipse.core.bundleRepositoryType">
    <bundleRepositoryType
          class="org.knopflerfish.eclipse.repository.directory.BundleRepositoryType"
          configDescription="Enter directory to use as repository"
          id="org.knopflerfish.eclipse.repository.directory.BundleRepositoryType"
          image="icons/obj16/fldr_obj.gif"
          name="Directory Repository"/>
   </extension>

</plugin>
