<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knopflerfish.eclipse.core.frameworkDefinition">
    <frameworkDefinition
          class="org.knopflerfish.eclipse.framework.knopflerfish.FrameworkDefinition"
          id="org.knopflerfish.eclipse.framework.knopflerfish13.frameworkDefinition"
          image="icons/obj16/kf-16x16.png"
          name="Knopflerfish 1.3/2.0"/>
   </extension>

</plugin>
