<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knopflerfish.eclipse.core.bundleRepositoryType">
    <bundleRepositoryType
          class="org.knopflerfish.eclipse.repository.framework.BundleRepositoryType"
          configDescription="Name of framework"
          id="org.knopflerfish.eclipse.repository.framework.BundleRepositoryType"
          image="icons/obj16/kf-16x16.png"
          name="Framework Repository"/>
   </extension>

</plugin>
